*{
  margin-right: 0px !important;
  margin-left: 0px !important;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fundo {
    background-image: url('/src/assets/verde.png') !important;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text{
  text-align: center;
}

.listaproduto{
  display: flex !important;
  order:4 !important;
  box-sizing: border-box; 
  gap:25px;
  justify-content: center;  
}

.text-decorator-none{
    text-decoration: none;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px !important;
    border-radius: 25px !important;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 25px;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: transparent;
    color: rgb(9, 8, 8);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    flex-flow: column;
  }

  .img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
  }
