.box1 {
background-color: #3f51b5;
height: 120px;
}

.box2 {
background-color: #303f9f;
height: 60px;
}

.redes {
font-size: 60px !important;
color: white;
}
.redes1 {
font-size: 50px !important;
color: white;
}

.textos {
color: white;
}
.criador{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 6px;
}