.box1 {
    background-color: rgba(147, 182, 103, 0.54) !important;
height: 120px;
}

.box2 {
    background-color: rgba(147, 182, 103, 0.54) !important;
height: 60px;
}

.redes {
font-size: 60px !important;
color: white;
}
.redes1 {
font-size: 50px !important;
color: white;
}

.textos {
color: white;
}
.criador{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 6px;
}