*{
    text-decoration: none;
    margin: 0px;
}
.geral{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px !important;
}
/* Ideia de carrosel  */

  
  
  